@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<div>
    <div class="text-center text-info" style="font-size:160%; width:auto; height:auto;">Hi, Welcome To register screen</div>
    <div class="border" style="background:#696767;">
        <div style="margin-left:20px; float:left;">
            <label class="col-form-label-lg" style="color:white; opacity:75%; font-size:130%; padding-right:10px;">Kullanıcı Adı</label><br />
            <label class="col-form-label-lg" style="color:white; opacity:75%; font-size:130%; padding-right:10px;">Şifre</label><br />
            <label class="col-form-label-lg" style="color:white; opacity:75%; font-size:130%; padding-right:10px;">Kullanıcı Adı</label><br />
            <label class="col-form-label-lg" style="color:white; opacity:75%; font-size:130%; padding-right:10px;">Kullanıcı Adı</label><br />
            <label class="col-form-label-lg" style="color:white; opacity:75%; font-size:130%; padding-right:10px;">Kullanıcı Adı</label>
        </div>
        <div style="margin-left:40px;">
            <div class="col-form-label-lg" style="padding-bottom:11px; padding-top:10px;">@Html.TextBox("ID")<br /></div>
            <div class="col-form-label-lg" style="padding-bottom:11px; ">@Html.TextBox("ID")<br /></div>
            <div class="col-form-label-lg" style="padding-bottom:11px;">@Html.TextBox("ID")<br /></div>
            <div class="col-form-label-lg" style="padding-bottom:11px;">@Html.TextBox("ID")<br /></div>
            <div class="col-form-label-lg" style="padding-bottom:11px;">@Html.TextBox("ID")<br /></div>
        </div>
       <button class="btn btn-success btn-lg" style="width:25%;" > Register</button>
    </div>

</div>
